* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.calculator {
  width: 260px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 12px;
}
.container {
  box-sizing: border-box;
  height: 20%;
  margin-bottom: 15px;
}

.container input {
  width: 95%;
  border: none;
  outline: none;
  background: #f2f2f2;
  text-align: right;
  padding: 10px;
  border-top: 1px solid #f2f2f2;
}
#historyList {
  list-style: none;
  padding: 0;
  min-height: 140px;
}

#calcul {
  font-size: 32px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

button:active {
  transform: scale(0.95);
}

.bgcolor--orange {
  background: #f79f1b;
  color: #fff;
}
.bgcolor--blue {
  background: #00a6f4;
  color: #fff;
}
.bgcolor--grey {
  background: #c4c4c4;
}

.history-container li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 1px dashed #ccc;
  margin: 3px 0;
}
.history-item {
  user-select: none;
  -webkit-user-select: none;
}
.container-btn {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
footer {
  text-align: center;
  margin: 20px 0;
}
#copy-by {
  text-decoration: none;
  font-size: 0.9rem;
  font-style: italic;
  color: #00a6f4;
}
span.high-light {
  color: #e7000b;
  background-color: #ffff00;
  font-weight: 400;
}
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .calculator {
    width: 100%; /* Full chiều ngang */
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .calculator .buttons {
    grid-template-columns: repeat(4, 1fr);
    flex-grow: 1; /* Đẩy các nút chiếm không gian còn lại */
    align-content: flex-start;
    grid-gap: 15px;
    padding: 0 10px;
  }
  .calculator button {
    width: 80px; /* Nút to hơn trên mobile cho dễ bấm */
    height: 80px;
    font-size: 36px;
  }
  .history-container {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .history-container h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .container-btn {
    padding: 0.5rem 0;
    margin: 1.5rem 0.5rem;
    border-bottom: #ccc dashed 1px;
    border-top: #ccc dashed 1px;
  }
  input#calcul {
    font-size: 56px;
    min-height: 80px;
  }
  input#result {
    font-size: 28px;
    min-height: 60px;
  }
  #full-history,
  #clear-history,
  #sum-selected {
    color: #f2f2f2;
    font-size: 1.2rem;
    width: max-content;
    height: 2rem;
    border-radius: 3px;
    padding: 0 10px;
  }
  #full-history {
    background-color: #f79f1b;
  }
  #clear-history {
    background-color: #888;
  }
  #sum-selected {
    background-color: #00a6f4;
  }
  #delete-item {
    width: 3.4rem;
    height: 1.6rem;
    font-size: 0.9rem;
    border-radius: 8px;
    background-color: #3d3d3d;
    color: #fff;
  }
  .history-container li {
    max-width: calc(100% - 20px);
    font-size: 20px;
    padding: 10px;
  }
  .history-container li > input {
    width: 1.2rem;
    height: 1.2rem;
  }
}
