* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.calculator {
  width: 260px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 12px;
}
.container {
  box-sizing: border-box;
  height: 20%;
  margin-bottom: 15px;
}

.container input {
  width: 95%;
  border: none;
  outline: none;
  background: #f2f2f2;
  text-align: right;
  padding: 10px;
  border-top: 1px solid #f2f2f2;
}
#historyList {
  list-style: none;
  padding: 0;
  min-height: 140px;
}

#calcul {
  font-size: 32px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.bgcolor--orange {
  background: #f79f1b;
  color: #fff;
}
.bgcolor--blue {
  background: #0400f7;
  color: #fff;
}
.bgcolor--grey {
  background: #c4c4c4;
}

.history-container li {
  cursor: pointer;
  font-size: 12px;
  border-bottom: 1px dashed #ccc;
}

.container-btn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#copy-by {
  text-align: center;
  margin: 5px 0;
  font-size: 0.8rem;
  font-style: italic;
  color: #888;
}
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .calculator {
    width: 100%; /* Full chiều ngang */
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  .calculator .buttons {
    grid-template-columns: repeat(4, 1fr);
    flex-grow: 1; /* Đẩy các nút chiếm không gian còn lại */
    align-content: flex-start;
    grid-gap: 20px;
    padding: 0 10px;
  }
  .calculator button {
    width: 70px; /* Nút to hơn trên mobile cho dễ bấm */
    height: 70px;
    font-size: 25px;
  }
  .history-container {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .container-btn {
    padding: 0.5rem 0;
    margin: 1.5rem 0.5rem;
    border-bottom: #ccc dashed 1px;
    border-top: #ccc dashed 1px;
  }
  input#calcul {
    font-size: 48px;
  }
  input#result {
    font-size: 28px;
  }
  #full-history,
  #clear-history {
    font-size: 1rem;
    width: max-content;
    height: 2rem;
    border-radius: 3px;
    padding: 0 5px;
  }
  .history-container li {
    font-size: 16px;
    padding: 5px 0;
  }
}
